<div class="col-md-3">

  <form action="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Add a new topic" name="query" value="" [(ngModel)]="topic">
      <span class="input-group-btn">
            <button class="btn btn-success" (click)="addTopic()">+ add</button>
          </span>
    </div>
  </form>

  <div class="list-group margin-top-x2">
    <a href="#" [class.active]="this.selectedTopic == topic" class="list-group-item" *ngFor="let topic of topics" (click)="selectTopic(topic)">
      {{topic}}
    </a>
  </div>

</div>